# EDA de Electric and Alternative Fuel Charging Station

## Importamos las librerias necesarias

In [1]:
import os
import pandas as pd
import numpy as np
import missingno as msno
import matplotlib.pyplot as plt
import seaborn as sns

## Cargamos el archivo a analizar

In [10]:
df = pd.read_csv(".\Datasets_clean\Electric_and_Alternative_Fuel_Charging_Stations.csv")

### Revisión del dataset

In [11]:
# Mostrar información general sobre el DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70406 entries, 0 to 70405
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Unnamed: 0                        70406 non-null  int64
 1   Fuel Type Code                    70406 non-null  object
 2   Station Name                      70406 non-null  object
 3   Street Address                    70405 non-null  object
 4   City                              70406 non-null  object
 5   State                             70406 non-null  object
 6   ZIP                               70405 non-null  object
 7   Station Phone                     65204 non-null  object
 8   Status Code                       70406 non-null  object
 9   Groups With Access Code           70406 non-null  object
 10  Access Days Time                  66628 non-null  object
 11  EV Level2 EVSE Num                54144 non-null  float64
 12  EV Network                        60907 non-null  object
 13  EV Network Web                    50305 non-null  object
 14  Geocode Status                    70391 non-null  object
 15  Latitude                          70406 non-null  float64
 16  Longitude                         70406 non-null  float64
 17  Date Last Confirmed               70188 non-null  object
 18  ID                                70406 non-null  int64
 19  Updated At                        70406 non-null  object
 20  Open Date                         69310 non-null  object
 21  EV Connector Types                60690 non-null  object
 22  Country                           70406 non-null  object
 23  Groups With Access Code (French)  70406 non-null  object
 24  Access Code                       70406 non-null  object
dtypes: float64(3), int64(2), object(20)
memory usage: 13.4+ MB

In [12]:
# Mostrar un resumen estadístico del DataFrame
df.describe()

,Unnamed: 0,EV Level2 EVSE Num,Latitude,Longitude,ID
count,70406.000000,54144.000000,70406.000000,70406.000000,70406.000000
mean,35202.500000,2.315289,38.929309,-96.061447,148730.326066
std,20324.605863,3.157387,5.628458,19.545273,54261.672118
min,0.000000,1.000000,0.000000,-159.788556,17.000000
25%,17601.250000,2.000000,34.182981,-117.860563,113723.250000
50%,35202.500000,2.000000,39.105989,-92.002897,165247.500000
75%,52803.750000,2.000000,42.702185,-78.881493,190653.750000
max,70405.000000,311.000000,64.852466,40.432278,224382.000000