# ETL - ARCHIVOS COMPLEMENTARIOS

### Archvios complementarios --> Historical Weather API

In [10]:
import requests
import pandas as pd

base_url = 'https://archive-api.open-meteo.com/v1/archive?'
#Parametros de datos, DEFINIR RANGO TEMPORAL
params = {
    'latitude'  : '40.7143',
    'longitude' : '74.006',
    'start_date': '2023-07-17',
    'end_date'  : '2023-07-31',
    'daily'     : 'temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,precipitation_sum',
    'timezone' :  'auto'
}

response = requests.get(base_url, params=params)

if response.status_code == 200:
    data_json = response.json()
    print('Solicitud completada, datos climaticos obtenidos')
else:
    print('Error al realizar la solicitud:', response.status_code)

Solicitud completada, datos climaticos obtenidos

In [15]:
daily_df = pd.DataFrame(data_json["daily"])

In [19]:
daily_df['time'] = pd.to_datetime(daily_df['time'])

In [20]:
daily_df

,time,temperature_2m_max,temperature_2m_min,apparent_temperature_max,apparent_temperature_min,precipitation_sum
0,2023-07-17,13.8,1.5,13.3,-0.7,5.3
1,2023-07-18,14.8,0.8,14.0,-2.1,0.3
2,2023-07-19,15.2,2.4,16.0,-0.1,10.2
3,2023-07-20,13.9,3.5,14.1,1.5,10.7
4,2023-07-21,13.0,2.2,12.8,0.2,8.0
5,2023-07-22,15.2,0.0,14.9,-2.6,1.0
6,2023-07-23,13.7,1.7,12.8,-0.9,2.6
7,2023-07-24,14.1,1.7,14.0,-1.3,4.8
8,2023-07-25,14.5,1.4,13.4,-1.4,1.7
9,2023-07-26,15.4,2.1,15.4,-0.9,3.0
10,2023-07-27,14.0,2.4,13.0,-0.4,1.2
11,2023-07-28,11.5,2.7,9.6,-0.2,3.0
12,2023-07-29,13.7,0.7,13.0,-2.2,4.5
13,2023-07-30,4.3,0.9,1.7,-2.0,NaN
14,2023-07-31,NaN,NaN,NaN,NaN,NaN