In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("./Datasets_clean/taxi_zones.csv")

In [4]:
df.head()

,"OBJECTID,N,9,0","Shape_Leng,N,19,11","Shape_Area,N,19,11","zone,C,254","LocationID,N,4,0","borough,C,254"
0,1,"0,116357453189","0,0007823067885",Newark Airport,1,EWR
1,2,"0,43346966679","0,00486634037837",Jamaica Bay,2,Queens
2,3,"0,0843411059012","0,000314414156821",Allerton/Pelham Gardens,3,Bronx
3,4,"0,0435665270921","0,000111871946192",Alphabet City,4,Manhattan
4,5,"0,0921464898574","0,000497957489363",Arden Heights,5,Staten Island

In [5]:
df.shape

(263, 6)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   OBJECTID,N,9,0      263 non-null    int64
 1   Shape_Leng,N,19,11  263 non-null    object
 2   Shape_Area,N,19,11  263 non-null    object
 3   zone,C,254          263 non-null    object
 4   LocationID,N,4,0    263 non-null    int64
 5   borough,C,254       263 non-null    object
dtypes: int64(2), object(4)
memory usage: 12.5+ KB

In [7]:
df.isna().sum()

OBJECTID,N,9,0        0
Shape_Leng,N,19,11    0
Shape_Area,N,19,11    0
zone,C,254            0
LocationID,N,4,0      0
borough,C,254         0
dtype: int64

In [8]:
df.columns

Index(['OBJECTID,N,9,0', 'Shape_Leng,N,19,11', 'Shape_Area,N,19,11',
       'zone,C,254', 'LocationID,N,4,0', 'borough,C,254'],
      dtype='object')

In [9]:
df.to_csv('./Datasets_clean/taxi_zones.csv')