In [9]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import missingno as msno
import seaborn as sns
import numpy as np

In [10]:
# Maenejo simplificado de archivos
files = os.listdir('./Datasets/')
files = [ file for file in files if not(file.endswith('.pdf'))  ]
dict_files = {'df{}'.format(i+1): file for i, file in enumerate(files)}

In [2]:
df = pd.read_csv("./Datasets_clean/taxi_zones.csv")

In [3]:
df.head()

,Unnamed: 0,"OBJECTID,N,9,0","Shape_Leng,N,19,11","Shape_Area,N,19,11","zone,C,254","LocationID,N,4,0","borough,C,254"
0,0,1,"0,116357453189","0,0007823067885",Newark Airport,1,EWR
1,1,2,"0,43346966679","0,00486634037837",Jamaica Bay,2,Queens
2,2,3,"0,0843411059012","0,000314414156821",Allerton/Pelham Gardens,3,Bronx
3,3,4,"0,0435665270921","0,000111871946192",Alphabet City,4,Manhattan
4,4,5,"0,0921464898574","0,000497957489363",Arden Heights,5,Staten Island

In [4]:
df.shape

(263, 7)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 263 entries, 0 to 262
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          263 non-null    int64
 1   OBJECTID,N,9,0      263 non-null    int64
 2   Shape_Leng,N,19,11  263 non-null    object
 3   Shape_Area,N,19,11  263 non-null    object
 4   zone,C,254          263 non-null    object
 5   LocationID,N,4,0    263 non-null    int64
 6   borough,C,254       263 non-null    object
dtypes: int64(3), object(4)
memory usage: 14.5+ KB

In [6]:
df.isna().sum()

Unnamed: 0            0
OBJECTID,N,9,0        0
Shape_Leng,N,19,11    0
Shape_Area,N,19,11    0
zone,C,254            0
LocationID,N,4,0      0
borough,C,254         0
dtype: int64

In [7]:
df.columns

Index(['Unnamed: 0', 'OBJECTID,N,9,0', 'Shape_Leng,N,19,11',
       'Shape_Area,N,19,11', 'zone,C,254', 'LocationID,N,4,0',
       'borough,C,254'],
      dtype='object')

In [8]:
df.to_csv('./Datasets_clean/taxi_zones.csv')

ETL Inicial, archivo: Light Duty Vehicles.csv

In [12]:
dict_files['df5']

'Light Duty Vehicles.csv'

In [13]:
df1 = pd.read_csv('./Datasets/' + dict_files['df5'])
df1.head()

,Vehicle ID,Fuel ID,Fuel Configuration ID,Manufacturer ID,Category ID,Model,Model Year,Alternative Fuel Economy City,Alternative Fuel Economy Highway,Alternative Fuel Economy Combined,...,Manufacturer URL,Category,Fuel Code,Fuel,Fuel Configuration Name,Electric-Only Range,PHEV Total Range,PHEV Type,Notes,Drivetrain
0,13044,45,9.0,365,27,NSX,2022,NaN,NaN,NaN,...,http://www.acura.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
1,12854,45,9.0,377,27,A3,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,FWD
2,12842,45,9.0,377,27,A3 quattro,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
3,12783,45,9.0,377,27,A4 allroad quattro,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD
4,12782,45,9.0,377,27,A4 quattro,2022,NaN,NaN,NaN,...,http://progress.audiusa.com/,Sedan/Wagon,HYBR,Hybrid Electric,Hybrid Electric,NaN,NaN,NaN,NaN,AWD

In [14]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3008 entries, 0 to 3007
Data columns (total 29 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Vehicle ID                          3008 non-null   int64
 1   Fuel ID                             3008 non-null   int64
 2   Fuel Configuration ID               2973 non-null   float64
 3   Manufacturer ID                     3008 non-null   int64
 4   Category ID                         3008 non-null   int64
 5   Model                               3008 non-null   object
 6   Model Year                          3008 non-null   int64
 7   Alternative Fuel Economy City       1595 non-null   float64
 8   Alternative Fuel Economy Highway    1505 non-null   float64
 9   Alternative Fuel Economy Combined   467 non-null    float64
 10  Conventional Fuel Economy City      2044 non-null   float64
 11  Conventional Fuel Economy Highway   2046 non-null   float64
 12  Conventional Fuel Economy Combined  763 non-null    float64
 13  Transmission Type                   2922 non-null   object
 14  Engine Type                         2211 non-null   object
 15  Engine Size                         2874 non-null   object
 16  Engine Cylinder Count               2443 non-null   float64
 17  Engine Description                  1971 non-null   object
 18  Manufacturer                        3008 non-null   object
 19  Manufacturer URL                    2844 non-null   object
 20  Category                            3008 non-null   object
 21  Fuel Code                           3008 non-null   object
 22  Fuel                                3008 non-null   object
 23  Fuel Configuration Name             2973 non-null   object
 24  Electric-Only Range                 374 non-null    float64
 25  PHEV Total Range                    43 non-null     float64
 26  PHEV Type                           176 non-null    object
 27  Notes                               73 non-null     object
 28  Drivetrain                          329 non-null    object
dtypes: float64(10), int64(5), object(14)
memory usage: 681.6+ KB

In [15]:
df1.shape
# tiene 3008 regisros y 29 columnas

(3008, 29)